<div class="container">
    
<h3 class="title">Email sender</h3>
<div class= "flash-messages" >
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

<%= link_to image_tag("google_login.png"),gmail_uri_path, class: "login-btn"%>
</div>